.title_products {
  text-align: center;
  margin-top: 0px;
}

.container_products_lines {
  max-width: 800px;
  /* background-color: chartreuse; */
  margin: 50px auto;
}

.flex_line_products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.produc_line {
  flex: 0.48;
  height: 130px;
  background-color: rgb(253, 122, 0);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.produc_line_background {
  background-image: url("./img/mic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.produc_line_background:hover {
  transform: scale(1.2);
  transition: 0.5s linear;
}

.layer {
  background-color: rgba(42, 0, 141, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer:hover {
  background-color: hsla(26, 100%, 50%, 0.508);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.layer > h2 {
  transition: all 0.2s linear;
}
.layer:hover > h2 {
  color: var(--purple);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.title_line {
  color: white;
}

.carousel_brands {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
